"*":
  "atom-elixir-formatter": {}
  "autocomplete-plus":
    confirmCompletion: "tab"
  core:
    disabledPackages: [
      "exception-reporting"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontSize: 16
    invisibles: {}
  linter:
    lintOnOpen: false
    lintPreviewTabs: false
  "linter-eslint":
    autofix:
      ignoreFixableRulesWhileTyping: true
    disabling:
      disableWhenNoEslintConfig: false
  "linter-ui-default": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    style:
      defaultPanelHeight: "600px"
  "prettier-atom":
    formatOnSaveOptions: {}
    prettierOptions:
      singleQuote: true
    useEslint: true
  "ruby-test": {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
