"*":
  "atom-elixir-formatter": {}
  "autocomplete-plus":
    confirmCompletion: "tab"
  core:
    disabledPackages: [
      "exception-reporting"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 16
    invisibles: {}
  linter:
    lintOnOpen: false
    lintPreviewTabs: false
  "linter-eslint":
    disableWhenNoEslintConfig: false
    useGlobalEslint: true
  "linter-ui-default": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "prettier-atom":
    formatOnSaveOptions: {}
    prettierOptions:
      singleQuote: true
    useEslint: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
