packages: [
  "atom-material-syntax"
  "atom-material-ui"
  "busy-signal"
  "dash"
  "emmet"
  "file-icons"
  "highlight-selected"
  "intentions"
  "linter"
  "linter-eslint"
  "linter-rubocop"
  "linter-ruby"
  "linter-slim"
  "linter-ui-default"
  "monokai-seti"
  "open-recent"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "prettier-atom"
  "ruby-test"
  "seti-ui"
  "slim-language"
  "solarized-seti-ui"
]
